<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fahadali.diabetesapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.fahadali.diabetesapp.Other.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dia_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeMenu_activity"
            android:label="@string/title_activity_home_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity -->
        <!-- android:name=".BSugarOverview_activity" -->
        <!-- android:label="@string/title_activity_bsuger_overview" /> -->
        <activity android:name=".BSugarNotation_activity" />
        <activity android:name=".ReminderSelector_activity" />
        <activity android:name=".DoctorsAppointment_activity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SignUp_activity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>